<div class="dialog-background"></div>
<form method="post" action="?module=products&action=addToCategories">
    <div class="dialog-window">
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <table class="zebra single-lined padded" id="order-list">
                    <thead>
                        <tr class="header">
                            <th><input type="checkbox" class="s-select-all"></th>
                            <th colspan="2"></th>
                            <th>[`Customer`]</th>
                            <th>[`Customer`]</th>
                            <th class="nowrap align-right">[`Total`]</th>
                            <th>[`Shipping`]</th>
                            <th>[`Payment`]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$orders item=order}
                        <tr class="order" data-order-id="{$order.id}">
                            <td style="{$order.style}"><input type="checkbox"></td>
                            <td style="width: 70px;{$order.style}">
                                <div>
                                    <a href="#/order/{$order.id}/">
                                        <i class="{$order.icon}"></i><span {if $order.state_id == 'new'} class="highlighted"{/if}>{$order.id_str}</span>
                                    </a>
                                </div>
                            </td>
                            <td style="{$order.style}">
                              {$order.create_datetime_str}

                            </td>
                            <td style="{$order.style}">
                                {$order.contact.name}</a>
                            </td>
                            <td style="{$order.style}">
                                    {$order.shipping_address_formatted}
                            </td>
                            <td style="{$order.style}" class="nowrap align-right">
                                <div><a href="#/order/{$order.id}/">{$order.total_str}</a>
                                </div>
                            </td>
                            <td style="{$order.style}">
                                {$order.shipping_name}
                            </td>   
                            <td style="{$order.style}">
                                {$order.payment_name}
                            </td>
                        </tr>
                        {/foreach}

                    </tbody>
                </table>

            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                <input type="submit" value="[`Save`]" class="button green">
                <i class="icon16 loading"></i>
                [`or`] <a class="cancel" href="#">[`cancel`]</a>
            </div>
        </div>
        {$wa->csrf()}
    </div>
</form>



