<div class="dialog-background"></div>
<form id="mergerorder-form" method="post" action="?plugin=mergerorder&action=merge">
    {$wa->csrf()}
    <div class="dialog-window">
        <div class="dialog-content">
            <div class="dialog-content-indent">

                <h1>Объединение заказа {$order.id_str}</h1>
                <div>{$order.contact.name} 
                    <i class="icon16 email"></i><a class="inline" href="mailto:{$order.contact.email}">{$order.contact.email}</a>
                </div>
                <div>{$order.shipping_address_formatted}</div>
                <br>
                <input type="hidden" name="order_id" value="{$order.id}"/>

                <table class="zebra single-lined padded" id="order-list">
                    <thead>
                        <tr class="header">
                            <th></th>
                            <th>Заказ</th>
                            <th>Дата</th>
                            <th>Покупатель</th>
                            <th>Адрес доставки</th>
                            <th class="nowrap align-right">Итого</th>
                            <th>Доставка</th>
                            <th>Оплата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$orders item=_order}
                        <tr class="order" data-order-id="{$_order.id}">
                            <td style="{$_order.style}">
                                <input type="checkbox" name="orders[{$_order.id}]" value="1" />
                            </td>
                            <td style="{$_order.style}">
                                <div style="min-width: 100px;">
                                    <a href="#/order/{$_order.id}/">
                                        <i class="{$_order.icon}"></i><span {if $_order.state_id == 'new'} class="highlighted"{/if}>{$_order.id_str}</span>
                                    </a>
                                </div>
                            </td>
                            <td style="{$_order.style}">
                                {$_order.create_datetime_str}
                            </td>
                            <td style="{$_order.style}">
                                {$_order.contact.name}
                            </td>
                            <td style="{$_order.style}">
                                {$_order.shipping_address_formatted}
                            </td>
                            <td style="{$_order.style}" class="nowrap align-right">
                                {$_order.total_str}
                            </td>
                            <td style="{$_order.style}">
                                {$_order.shipping_name}
                            </td>   
                            <td style="{$_order.style}">
                                {$_order.payment_name}
                            </td>
                        </tr>
                        {/foreach}

                    </tbody>
                </table>

            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                <span class="s-notification"><input type="checkbox" {if $email_notification}checked="checked"{/if} name="email_notification" value="1"/> Уведомление по E-mail</span>
                <input type="submit" value="Объединить" class="button green">
                <i class="icon16 loading" style="display:none;"></i>
                <a class="cancel" href="#">Отмена</a>
                <a style="display:none;" class="close" href="#">Закрыть</a>
                <span style="display:none;" class="mergerorder-response"></span>
            </div>
        </div>
    </div>
</form>        
<script type="text/javascript">
    $(function() {
        $('.dialog-buttons .close').click(function() {
            location.reload();
            return false;
        });
    });
</script>
